<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="co.yedam.mapper.BoardMapper">
	<select id ="getTimes" resultType="String">
		select sysdate from dual
	</select>
	<select id="selectList" resultType="co.yedam.vo.BoardVO">
		select *
		from tbl_board
		order by board_no
	</select>
	<insert id="insertBoard" parameterType="co.yedam.vo.BoardVO">
		insert into tbl_board(board_no, title, content, writer)
		values(board_seq.nextval, #{title}, #{content}, #{writer})
	</insert>
	<delete id="deleteBoard" parameterType="int">
		delete from tbl_board
		where board_no = #{bno}
	</delete>
	<update id="updateBoard" parameterType="co.yedam.vo.BoardVO">
	 UPDATE tbl_board
   	 SET title = #{title},
        content = #{content}
   	 WHERE board_number = #{board_no}
	</update>
</mapper>